<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="TideOut" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.AppCompat.Light.DarkActionBar" android:enableOnBackInvokedCallback="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BeachDetail" android:exported="true"> </activity>
        <activity android:name=".LocationActivity" android:exported="true"> </activity>
        <activity android:name=".SearchActivity" android:exported="true"> </activity>
        <activity android:name=".auth.LoginActivity" android:exported="true"> </activity>
        <activity android:name=".auth.RegisterActivity" android:exported="true"> </activity>
        <activity android:name=".HomeActivity" android:exported="true"> </activity>
        <activity android:name=".AccountActivity" android:exported="true"> </activity>
        <activity android:name=".FavoritesActivity" android:exported="true"> </activity>
    </application>
</manifest>